

/*Top level list items*/
#menu ul li{
position: relative;
}

#menu ul li a:link, #menu ul li a:visited{
}

#menu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:none;
color:#2a5c8a;
margin-left:0px!important;}

#menu ul li a:hover{
/*background of menu items during onmouseover (hover state)*/
background:none;
}

#menu ul{
z-index:100;
}

	
/*1st sub level menu*/
#menu ul li ul{
width:240px;
position: absolute;
left: 0px;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
background:#2d7ec0;
top:27px!important;

}

/*Sub level menu list items (undo style from Top level List Items)*/
#menu ul li ul li{
display: list-item;
float: none;
list-style-type:none;
background:none;
padding:0px!important;
margin:0px!important;}


/* Sub level menu links style */
#menu ul li ul li a{
display:block;
padding:0px 16px 0px 26px!important;
margin: 0;
font-size:12px;
border-top:1px solid #3687c9;
cursor:pointer;
color:#ffffff!important;
text-shadow:1px 1px 1px #2A5C8A!important;
border-right:none;
line-height:34px;
height:34px;
}

#menu ul li ul li a:hover{
background:#3687c9;
}

/*#menu ul li ul li:hover{
background:#3687c9;}*/

/* Holly Hack for IE \*/
* html #menu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
display:none;
}

.rightarrowclass{
position: absolute;
top: 12px;
right: 8px;
display:none;
}

